.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdthink{
    padding: 1em 1em 1em 4em;
    margin-bottom: 10px;
    background: #f5f5f5 5px center/3em no-repeat;
  }
  .rmdcaution {
    background-image: url("../figs/caution.png");
  }
  .rmdimportant {
    background-image: url("../figs/important.png");
  }
  .rmdnote {
    background-image: url("../figs/note.png");
  }
  .rmdtip {
    background-image: url("../figs/tip.png");
  }
  .rmdwarning {
    background-image: url("../figs/warning.png");
  }

  .rmdthink {
    background-image: url("../figs/thinking.png");
  }

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
  background-color: #ccd8f5;
}

.exercise ol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* flex-wrap: wrap; */
}

.exercise li {
  min-width: 32%;
  margin-right: 5%;
  list-style-type: lower-alpha;
  margin-left: -0.8em;
  padding-left: 1em;
  flex-grow: 1; 
}

.exercise li::marker {
  font-size: 1.2em;
}